{{ define "title" }}新規登録 | lekcije{{ end }}
{{ define "content" }}
<div class="container container-narrow">
  <div class="starter-template">
    <h1 style="font-size: 2.0em"><span class="heading-underline">lekcijeに登録</span></h1>
    <p>Googleアカウントでlekcijeに登録しましょう。料金は無料です。</p>
    <p><button class="button-auth button-google" onclick="javascript:location.href='/oauth/google';"><div class="button-contents"><img class="button-image" src="{{ .StaticURL }}/image/buttonGoogle.svg">Googleアカウントで登録</div></button></p>
  </div>
  <p></p>
  <p></p>
  <p style="text-align:center;font-size:small">アカウント作成することで<a href="/terms" target="_blank">利用規約</a>に同意されたとみなします。</p>
</div>

  <div class="container container-narrow">
<script type="text/javascript" src="https://s3.amazonaws.com/assets.freshdesk.com/widget/freshwidget.js"></script>
<style type="text/css" media="screen, projection">
  @import url(https://s3.amazonaws.com/assets.freshdesk.com/widget/freshwidget.css);
</style>
<iframe title="Feedback Form" class="freshwidget-embedded-form" id="freshwidget-embedded-form" src="https://lekcije.freshdesk.com/widgets/feedback_widget/new?&widgetType=embedded&formTitle=hoge&submitTitle=feedback&screenshot=No" scrolling="no" height="500px" width="100%" frameborder="0" >
</iframe>

{{ end }}
