{{ define "title" }}新規登録 | lekcije{{ end }}
{{ define "content" }}
<div class="container container-narrow">
  <h1 class="page-title"><span class="heading-underline">lekcijeに登録</span></h1>
  <p>Googleアカウントでlekcijeに登録しましょう。料金は無料です。</p>
  <div class="starter-template">
    <p><button class="button-auth button-google" onclick="javascript:location.href='/oauth/google';"><div class="button-contents"><img class="button-image" src="{{ .StaticURL }}/image/buttonGoogle.svg">Googleアカウントで登録</div></button></p>
  </div>
  <p></p>
  <p></p>
  <p style="text-align:center;font-size:small">アカウント作成することで<a href="/terms" target="_blank">利用規約</a>に同意されたとみなします。</p>
</div>
{{ end }}
