{{ define "content" }}
<div class="container">
  <div id="followingForm">
    <h3>講師をフォローしましょう</h3>
    {{ template "_flashMessage.html" . }}
    <form method="POST" action="/me/followingTeachers/create">
      <div class="form-group">
        <label for="teacherIdsOrUrl">講師のIDまたはURLを入力して下さい</label> <a href="http://lekcije.hatenablog.com/entry/dmm-eikaiwa-teacher-url-mobile" target="_blank"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a>
        <input id="teacherIdsOrUrl"
               type="text"
               class="form-control"
               name="teacherIdsOrUrl"
               placeholder="http://eikaiwa.dmm.com/teacher/index/492/" />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">送信</button>
      </div>
    </form>
  </div>

  {{ if .Plan.ShowAd -}}
  <div id="showAd" style="margin: 20px">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- lekcije -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-9196567892895746"
         data-ad-slot="2801212670"
         data-ad-format="auto"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
  {{ end -}}

  <div id="followingTeachers">
    <form method="POST" action="/me/followingTeachers/delete">
      <table class="table table-striped table-hover">
        <thead>
          <tr><th><button type="submit" class="btn btn-default btn-xs">削除</button></th><th>講師</th></tr>
        </thead>
        <tbody>
        {{ range $teacher := .Teachers }}
          <tr>
            <td class="col-md-1"><input type="checkbox" name="teacherIds" value="{{ $teacher.ID }}"></td>
            <td class="col-md-8"><a href="http://eikaiwa.dmm.com/teacher/index/{{ $teacher.ID }}/" target="_blank">{{ $teacher.Name }}</a></td>
          </tr>
        {{ end }}
        </tbody>
      </table>
    </form>
  </div>
</div>
{{ end }}
