{{ define "title" }}新規登録 | lekcije{{ end }}
{{ define "content" }}
<div>
  <div class="container container-narrow">
    <div class="starter-template">
      <h1 style="font-size: 2.0em; padding-bottom:10px"><span style="border-bottom:1px solid #007196;">lekcijeに登録</span></h1>
      <p>Googleアカウントでlekcijeに登録しましょう。料金は無料です。</p>
      <p><button class="button-auth button-google" onclick="javascript:location.href='/oauth/google';"><div class="button-contents"><img class="button-image" src="{{ .StaticURL }}/image/buttonGoogle.svg">Googleアカウントで登録</div></button></p>
    </div>
    <p style="text-align:center;font-size:small">登録ボタンをクリックすることで<a href="/terms" target="_blank">利用規約</a>に同意されたとみなします。</p>
  </div>
</div>
{{ end }}
