# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# JavaScript
/node_modules
.DS_Store
/static
/npm-debug.log*

# IntelliJ
.idea
*.iml

/vendor
.env

# DB
db/dbconf-production.yml

# Docker
volume/nginx/var/log

# Other
deploy.sh

.venv
.ipynb_checkpoints
/*.pid
bin/lekcije

