# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# JavaScript
node_modules
.DS_Store
/frontend/static
npm-debug.log*

# IntelliJ
.idea
*.iml

vendor
.env

# DB
db/dbconf-production.yml

# Docker
volume/nginx/var/log

# Other
deploy.sh

/.venv
/venv
.ipynb_checkpoints
*.pid
backend/bin/lekcije*
backend/tools/bin/*

sqlboiler.toml

# Copied from root for gqlgen
backend/go.mod
backend/go.sum
