version: 2

env: &env
  GOOGLE_CLOUD_SDK_VERSION: 221.0.0
  GOOGLE_CLOUD_SDK_DOWNLOAD_PATH: /google-cloud-sdk

gitconfig: &gitconfig
  name: "Set .gitconfig"
  command: |
    echo "" > ~/.gitconfig
    git config --global url."https://github.com".insteadOf git://github.com
    git config --global http.https://gopkg.in.followRedirects true

node_modules_cache_key: &node_modules_cache_key
  key: node_modules-{{ checksum ".circleci/cache_version.txt" }}-{{ checksum "package.json" }}

install_npm_packages: &install_npm_packages
  name: "Install npm packages"
  command: |
    if [ ! -e "/go/src/github.com/oinume/lekcije/node_modules" ]; then
      set -eu
      npm install
    fi

jobs:
  frontend:
    environment:
      <<: *env
    working_directory: /go/src/github.com/oinume/lekcije
    docker:
      - image: node:10.12-stretch
    steps:
      - checkout
      - run:
          <<: *gitconfig
      - restore_cache:
          <<: *node_modules_cache_key
      - run:
          <<: *install_npm_packages
      - save_cache:
          <<: *node_modules_cache_key
          paths:
            - "/go/src/github.com/oinume/lekcije/node_modules"
      - run:
          name: "Run tests"
          command: |
            npm test

  server:
    environment:
      <<: *env
    working_directory: /go/src/github.com/oinume/lekcije
    docker:
      - image: golang:1.15-buster
        environment:
          <<: *env
          ENABLE_TRACE: "false"
          GO111MODULE: "on"
          MYSQL_ALLOW_EMPTY_PASSWORD: true
          MYSQL_USER: "root"
          MYSQL_PASSWORD: "lekcije"
          MYSQL_HOST: "127.0.0.1"
          MYSQL_PORT: "3306"
          MYSQL_DATABASE: "lekcije_test"
          REDIS_URL: "redis://h:@127.0.0.1:6379"
          E2E_WEB_DRIVER: "PhantomJS"
          VERSION_HASH: "_version_"
          NODE_ENV: "test"
          LEKCIJE_ENV: "test"
      - image: circleci/mysql:8.0
        command: "--default-authentication-plugin=mysql_native_password"
        environment:
          MYSQL_ALLOW_EMPTY_PASSWORD=true
      - image: redis:3.2-alpine
    steps:
      - checkout
      - run:
          <<: *gitconfig
      - run:
          name: "Install packages"
          command: |
            set -eu
            apt-get update -qq
            apt-get install -y default-mysql-client net-tools
      - run:
          name: "Wait MySQL is up"
          command: |
            set -u
            timeout 10 bash -c "while ! mysqladmin ping -u ${MYSQL_USER} -h ${MYSQL_HOST} --silent; do sleep 0.5; done"
      - run:
          name: "Setup database"
          command: |
            set -eu
            mysql -u${MYSQL_USER} -h ${MYSQL_HOST} -e "CREATE USER IF NOT EXISTS 'lekcije'@'%' identified by 'lekcije'"
            mysql -u${MYSQL_USER} -h ${MYSQL_HOST} -e "CREATE DATABASE IF NOT EXISTS lekcije_test DEFAULT CHARACTER SET utf8mb4 DEFAULT COLLATE utf8mb4_unicode_ci"
            mysql -u${MYSQL_USER} -h ${MYSQL_HOST} -e "GRANT SELECT, INSERT, UPDATE, DELETE, CREATE, DROP, INDEX, ALTER, LOCK TABLES ON \`lekcije\\_test%\`.* TO 'lekcije'@'%'"
      - restore_cache:
          key: go-mod-{{ checksum ".circleci/cache_version.txt" }}-{{ checksum "go.sum" }}
      - save_cache:
          key: go-mod-{{ checksum ".circleci/cache_version.txt" }}-{{ checksum "go.sum" }}
          paths:
            - "/go/pkg/mod/cache"
      - restore_cache:
          key: go-commands-{{ checksum ".circleci/cache_version.txt" }}-{{ checksum "go.sum" }}
      - run:
          name: "Install commands"
          command: |
            if [ ! -e "/go/bin/staticcheck" ]; then
              make install-commands GO_GET="go get -u"
            fi
      - save_cache:
          key: go-commands-{{ checksum ".circleci/cache_version.txt" }}-{{ checksum "go.sum" }}
          paths:
            - "/go/bin"
      - run:
          name: "Apply database migrations"
          command: |
            goose -env=circle_ci up
      - run:
          name: "Run go-lint"
          command: make go-lint
      - run:
          name: "Build"
          command: make build
      - run:
          name: "Run go-test"
          command: |
            export MYSQL_USER=lekcije
            make go-test GO_TEST="go test -v -race -coverprofile=coverage.txt -covermode=atomic -p=1"
      - run:
          name: "Upload to codecov"
          command: |
            bash <(curl -s https://codecov.io/bash)
  deploy-frontend:
    environment:
      <<: *env
    working_directory: /go/src/github.com/oinume/lekcije
    docker:
      - image: node:10.12-stretch
    steps:
      - checkout
      - run:
          <<: *gitconfig
      - restore_cache:
          <<: *node_modules_cache_key
      - run:
          <<: *install_npm_packages
      - save_cache:
          <<: *node_modules_cache_key
          paths:
            - "/go/src/github.com/oinume/lekcije/node_modules"
      - run:
          name: "Minify"
          command: |
            rm -rf static
            make minify-static
      - restore_cache:
          key: google-cloud-sdk-221.0.0
      - run:
          name: "Install google-cloud-sdk"
          command: |
            ./ci/install-google-cloud-sdk.sh
      - save_cache:
          key: google-cloud-sdk-221.0.0
          paths:
          - /google-cloud-sdk
      - run:
          name: "Activate GCP service account"
          command: |
            echo $GCP_SERVICE_ACCOUNT_KEY | base64 --decode > ./gcp-service-account-key.json
            gcloud auth activate-service-account --key-file ./gcp-service-account-key.json
      - run:
          name: "Deploy to GCS"
          command: |
            HASH=$(make print-version-hash)
            gsutil -h "Cache-Control: public,max-age=2592000" -m rsync -d -r static/$HASH gs://asset.lekcije.com/static/$HASH
      - run:
          name: "Ensure to enable CORS"
          command: |
            gsutil cors set cors-asset.lekcije.com.json gs://asset.lekcije.com
      - run:
          name: "Install heroku command"
          command: |
            ./ci/install-heroku-cli.sh
      - run:
          name: "Set VERSION_HASH on heroku"
          command: |
            HASH=$(make print-version-hash)
            heroku config:set VERSION_HASH=$HASH -a lekcije
  deploy-server-image:
    environment:
      <<: *env
    working_directory: /go/src/github.com/oinume/lekcije
    docker:
      - image: docker:17.11.0-ce-git
    steps:
      - checkout
      - setup_remote_docker:
          version: 17.11.0-ce
          docker_layer_caching: false
      - run:
          <<: *gitconfig
      - run:
          name: Install dependency apk packages
          command: |
            apk --no-cache add \
              bash \
              curl \
              curl-dev \
              make \
              python
      - restore_cache:
          key: google-cloud-sdk-221.0.0
      - run:
          name: "Install google-cloud-sdk"
          command: |
            ./ci/install-google-cloud-sdk.sh
      - save_cache:
          key: google-cloud-sdk-221.0.0
          paths:
            - /google-cloud-sdk
      - run:
          name: "Activate GCP service account" # TODO: common
          command: |
            echo $GCP_SERVICE_ACCOUNT_KEY | base64 -d > ./gcp-service-account-key.json
            gcloud auth activate-service-account --key-file ./gcp-service-account-key.json
      - run:
          name: "Deploy docker image to GCR"
          command: |
            TAG=$(echo "${CIRCLE_BRANCH}" | tr '._/' '-' | tr '[:upper:]' '[:lower:]')-"${CIRCLE_BUILD_NUM}"
            echo ${TAG}
            make docker/build/server IMAGE_TAG=latest
            docker tag asia.gcr.io/oinume-lekcije/server:latest asia.gcr.io/oinume-lekcije/server:${TAG}
            gcloud docker -- push asia.gcr.io/oinume-lekcije/server:latest
            gcloud docker -- push asia.gcr.io/oinume-lekcije/server:${TAG}

# TODO: Run e2e-test

workflows:
  version: 2
  build-workflow:
    jobs:
      - server:
          filters:
            branches:
              only: /.*/
      - frontend:
          filters:
            branches:
              only: /.*/
      - deploy-frontend:
          requires:
            - frontend
          filters:
            branches:
              only:
                - master
                - /public-.*/
      - deploy-server-image:
          requires:
            - server
          filters:
            branches:
              only:
                - master
                - /public-.*/
