# Store any credentials here. Dummy values are replaced by GitHub Actions when deploying.
env_variables:
  MYSQL_USER: <MYSQL_USER>
  MYSQL_PASSWORD: <MYSQL_PASSWORD>
  MYSQL_HOST: <MYSQL_HOST>
  MYSQL_PORT: <MYSQL_PORT>
  MYSQL_DATABASE: <MYSQL_DATABASE>
  ENCRYPTION_KEY: <ENCRYPTION_KEY>
  GCP_PROJECT_ID: <GCP_PROJECT_ID>
  GCP_SERVICE_ACCOUNT_KEY: <GCP_SERVICE_ACCOUNT_KEY>
  GOOGLE_CLIENT_ID: <GOOGLE_CLIENT_ID>
  GOOGLE_CLIENT_SECRET: <GOOGLE_CLIENT_SECRET>
  GOOGLE_ANALYTICS_ID: <GOOGLE_ANALYTICS_ID>
  ROLLBAR_ACCESS_TOKEN: <ROLLBAR_ACCESS_TOKEN>
  ROLLBAR_ACCESS_TOKEN: <ROLLBAR_ACCESS_TOKEN>
  VERSION_HASH: <VERSION_HASH>
