html {
  font-family: 'Roboto', sans-serif;
}

/*
body {
  font-size: 13px;
  line-height: 20px;
}
*/

body {
    padding-top: 50px;
}

.container-narrow {
    width: 800px;
}

.header-padding {
    padding-top: 15px;
}

.starter-template {
    padding: 15px 15px;
    text-align: center;
}

.form-control {
    color: black;
}

.logo-center {
    text-align:center;
    margin:0 auto 30px;
}
