{{ define "content" }}
<div class="container">
  <div id="followingForm">
    <h3>講師をフォローしよう</h3>
    {{ template "_flashMessage.html" . }}

    {{ if .ShowTutorial }}
    <div class="alert alert-success" role="alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> 講師をフォローするには</h4>
      <ol>
        <li><a href="http://eikaiwa.dmm.com/list/" class="alert-link" target="_blank">DMM英会話</a>でお気に入りの講師のページを表示しよう</li>
        <li>講師のURLをコピーしよう(<a href="https://lekcije.amebaownd.com/posts/1577091" class="alert-link" target="_blank">ヘルプ</a>)</li>
        <li>URLを下の入力欄にペーストしてフォローしよう</li>
        <li>フォローすると、その講師の空きレッスンがあった時にメールでお知らせ</li>
      </ol>
    </div>
    {{ end }}

    <form method="POST" action="/me/followingTeachers/create">
      <div class="form-group">
        <p>
          講師のURLまたはIDを入力して下さい  <a href="https://lekcije.amebaownd.com/posts/{{ if .IsUserAgentPC }}2044879{{ end }}{{ if .IsUserAgentSP }}1577091{{ end }}{{ if .IsUserAgentTablet }}1577091{{ end }}" target="_blank"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a><br>
          <small><a href="http://eikaiwa.dmm.com/" target="_blank">DMM英会話で講師を検索</a></small>
        </p>
        <input id="teacherIdsOrUrl"
               type="text"
               class="form-control"
               name="teacherIdsOrUrl"
               placeholder="http://eikaiwa.dmm.com/teacher/index/492/" />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">送信</button>
      </div>
    </form>
  </div>

  {{ if .MPlan.ShowAd -}}
  <div id="showAd" style="margin:20px; text-align:center">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- lekcije(レスポンシブ) -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-9196567892895746"
         data-ad-slot="2801212670"
         data-ad-format="auto"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
  {{ end -}}

  <div id="followingTeachers">
    <form method="POST" action="/me/followingTeachers/delete">
      <table class="table table-striped table-hover">
        <thead>
          <tr><th><button type="submit" class="btn btn-default btn-xs">削除</button></th><th>講師</th></tr>
        </thead>
        <tbody>
        {{ range $teacher := .Teachers }}
          <tr>
            <td class="col-md-1"><input type="checkbox" name="teacherIds" value="{{ $teacher.ID }}"></td>
            <td class="col-md-8"><a href="http://eikaiwa.dmm.com/teacher/index/{{ $teacher.ID }}/" target="_blank">{{ $teacher.Name }}</a></td>
          </tr>
        {{ end }}
        </tbody>
      </table>
    </form>
  </div>
</div>
{{ end }}
