{{ define "title" }}設定 | lekcije{{ end }}
{{- define "extraJs" }}
<script src="{{ .StaticURL }}/lib/react/dist/react.min.js"></script>
<script src="{{ .StaticURL }}/lib/react-dom/dist/react-dom.min.js"></script>
<script src="{{ .StaticURL }}/js/setting.bundle.js"></script>
{{- end }}
{{ define "content" }}
<div class="container">
  <form method="POST" action="/me/setting/update">
    {{ template "_flashMessage.html" . }}
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" name="email" id="email" placeholder="Email" value="{{ .Email }}" required autofocus autocomplete="on">
    </div>
    <button type="submit" class="btn btn-primary">送信</button>
  </form>
</div>
{{ end }}
